@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
body {
    font-family: "Source Serif Pro", serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

* {
    box-sizing: border-box;
}

code, tt {
    font-family: monospace;
}

span.parameter {
    font-family: monospace;
}

span.parameter:after {
    content: ":";
}

span.types:before {
    content: "(";
}

span.types:after {
    content: ")";
}

.type {
    font-weight: bold;
    font-style: italic
}

p, ul {
    margin: 10px 0 0 0px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1 {
    font-size: 1.7em;
    margin: 20px 0 20px 0;
}

h2, h3, h4 {
    margin: 15px 0 10px 0;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.15em;
}

h4 {
    font-size: 1.06em;
}

a:link {
    font-weight: bold;
    color: #004080;
    text-decoration: none;
}

a:visited {
    font-weight: bold;
    color: #006699;
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

hr {
    color: #cccccc;
    background: #00007f;
    height: 1px;
}

blockquote {
    margin-left: 3em;
}

ul {
    list-style-type: disc;
}

p.name {
    font-family: "Andale Mono", monospace;
    padding-top: 1em;
}

pre {
    background-color: rgb(245, 245, 245);
    border: 1px solid #C0C0C0;
    /* silver */
    padding: 10px;
    margin: 10px 0 10px 0;
    overflow: auto;
    font-family: "Andale Mono", monospace;
}

pre.example {
    font-size: .85em;
}

table.index {
    border: 1px #00007f;
}

table.index td {
    text-align: left;
    vertical-align: top;
}

#container {
    background-color: #ffffff;
}

#product {
    display: none;
}

#main {
    background-color: #ffffff;
}

#navigation {
    display: none;
}

#content {
    margin: 0 auto;
    padding: 15px 0 15px 0;
    max-width: 960px;
    background-color: #ffffff;
}

#about {
    margin: 0 auto;
    max-width: 960px;
    padding: 15px 0 15px 0;
    border-top: 2px solid #cccccc;
    background-color: #ffffff;
}

table.module_list {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-collapse: collapse;
}

table.module_list td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #cccccc;
}

table.module_list td.name {
    background-color: #f0f0f0;
    min-width: 200px;
}

table.module_list td.summary {
    width: 100%;
}

table.function_list {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-collapse: collapse;
}

table.function_list td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #cccccc;
}

table.function_list td.name {
    background-color: #f0f0f0;
    min-width: 200px;
}

table.function_list td.summary {
    width: 100%;
}

ul.nowrap {
    overflow: auto;
    white-space: nowrap;
}

dl.table dt, dl.function dt {
    border-top: 1px solid #ccc;
    padding-top: 1em;
}

dl.table dd, dl.function dd {
    padding-bottom: 1em;
    margin: 10px 0 0 20px;
}

dl.table h3, dl.function h3 {
    font-size: .95em;
}

ul ul {
    margin-top: 0px;
}

ol ul {
    margin-top: 0px;
}

ol ol {
    margin-top: 0px;
}

ul ol {
    margin-top: 0px;
}

a:target+* {
    background-color: #FF9;
}

pre .comment {
    color: #558817;
}

pre .constant {
    color: #a8660d;
}

pre .escape {
    color: #844631;
}

pre .keyword {
    color: #aa5050;
    font-weight: bold;
}

pre .library {
    color: #0e7c6b;
}

pre .marker {
    color: #512b1e;
    background: #fedc56;
    font-weight: bold;
}

pre .string {
    color: #8080ff;
}

pre .number {
    color: #f8660d;
}

pre .operator {
    color: #2239a8;
    font-weight: bold;
}

pre .preprocessor, pre .prepro {
    color: #a33243;
}

pre .global {
    color: #800080;
}

pre .user-keyword {
    color: #800080;
}

pre .prompt {
    color: #558817;
}

pre .url {
    color: #272fc2;
    text-decoration: underline;
}
